<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ company_info.name }}</title>
  </head>
  <body>
    <h1>{{ company_info.name }}</h1>
    <p>Owner name: {{ company_info.owner_name }}</p>
    <p>Address: {{ company_info.address }}</p>
    <p>Phone: {{ company_info.owner_phone }}</p>
    <p>Email: {{ company_info.email }}</p>
    <p>Website: {{ company_info.website }}</p>
    <p>Instagram: {{ company_info.instagram }}</p>
    <p>Facebook: {{ company_info.facebook }}</p>
    <p>Twitter: {{ company_info.twitter }}</p>
    <p>Opening time: {{ company_info.opening_time }}</p>
    <p>Closing time: {{ company_info.closing_time }}</p>
    <p>PPF price: {{ company_info.ppf_price }}</p>
    <p>Ceramic coating price: {{ company_info.ceramic_coating_price }}</p>
    <p>Full detail price: {{ company_info.full_detail_price }}</p>
    <p>Interior detail price: {{ company_info.interior_detail_price }}</p>
    <p>Exterior detail price: {{ company_info.exterior_detail_price }}</p>
    <p>Headlight restoration price: {{ company_info.headlight_restoration_price }}</p>
    <p>Windshield repair price: {{ company_info.windshield_repair_price }}</p>
    <p>Odor removal price: {{ company_info.odor_removal_price }}</p>
    <p>Discount rules: {{ company_info.discount_rules }}</p>
  </body>
</html>
